# Operating System Files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/
venv/
ENV/

# Editor & IDE
.vscode/
.idea/
*.swp
*.swo

# Temporary Files
*.tmp
*.log

# Firebase Credentials & Node
serviceAccountKey.json
node_modules/
package-lock.json